Make Workflows/EvolveX- LinkedIn Publisher.blueprint.json
{
    "name": "EvolveX: LinkedIn Publisher",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 3372153,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "linkedin_approve"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "datastore:GetRecord",
            "version": 1,
            "parameters": {
                "datastore": 145179
            },
            "mapper": {
                "key": "latest",
                "returnWrapped": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "evolvex_linkedin_drafts"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "datastore",
                        "type": "datastore",
                        "label": "Data store",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true
                    },
                    {
                        "name": "returnWrapped",
                        "type": "boolean",
                        "label": "Return Wrapped Output",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "help": "",
                        "name": "post_text",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "story_title",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "image_html",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "image_url",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "help": "",
                        "name": "status",
                        "type": "text",
                        "label": null,
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "linkedin:CreateCompanyImagePost",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8876468
            },
            "mapper": {
                "url": "{{2.image_url}}",
                "method": "link",
                "content": "{{2.story_title}}{{newline}}{{newline}}{{2.post_text}}",
                "visibility": "PUBLIC",
                "organization": "urn:li:organization:104538701",
                "feedDistribution": "MAIN_FEED",
                "isReshareDisabledByAuthor": false
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "method": {
                            "label": "Upload by link"
                        },
                        "visibility": {
                            "mode": "chose",
                            "label": "Anyone"
                        },
                        "organization": {
                            "mode": "chose",
                            "label": "EvolveX Technologies"
                        },
                        "feedDistribution": {
                            "mode": "chose",
                            "label": "Main feed"
                        },
                        "isReshareDisabledByAuthor": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "linkedin-openid"
                            },
                            "label": "My LinkedIn (OpenID Connect) connection (Somya Anchalia)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:linkedin2,linkedin-openid",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "organization",
                        "type": "select",
                        "label": "Company",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Choose Upload Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "upload",
                                "link"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title"
                    },
                    {
                        "name": "altText",
                        "type": "text",
                        "label": "Alt Text"
                    },
                    {
                        "name": "content",
                        "type": "text",
                        "label": "Content",
                        "required": true
                    },
                    {
                        "name": "visibility",
                        "type": "select",
                        "label": "Visibility",
                        "required": true,
                        "validate": {
                            "enum": [
                                "PUBLIC",
                                "CONNECTIONS",
                                "LOGGED_IN"
                            ]
                        }
                    },
                    {
                        "name": "feedDistribution",
                        "type": "select",
                        "label": "Feed Distribution",
                        "required": true,
                        "validate": {
                            "enum": [
                                "MAIN_FEED",
                                "NONE"
                            ]
                        }
                    },
                    {
                        "name": "isReshareDisabledByAuthor",
                        "type": "boolean",
                        "label": "Is Reshare Disabled",
                        "required": true
                    },
                    {
                        "name": "url",
                        "type": "text",
                        "label": "Image URL",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "datastore:AddRecord",
            "version": 1,
            "parameters": {
                "datastore": 145179
            },
            "mapper": {
                "key": "latest",
                "data": {
                    "status": "published",
                    "image_url": "{{2.image_url}}",
                    "post_text": "{{2.post_text}}",
                    "posted_at": "{{now}}",
                    "image_html": "{{2.image_html}}",
                    "story_title": "{{2.story_title}}"
                },
                "overwrite": true
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "datastore": {
                            "label": "evolvex_linkedin_drafts"
                        }
                    }
                }
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}